@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container text-center pt-5 ">
    <div class="row">
        <div class="col-4 mx-auto border border-4 py-3">
            <dl class="dl-horizontal ">
                <dt>@Localizer["Name"]</dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>@Localizer["Email"]</dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>@Localizer["PersonalAcc"]</dt>
                <dd>
                    @Html.DisplayFor(model => model.PersonalAccount)
                </dd>
            </dl>
            <form asp-controller="Account" asp-action="Delete" method="post">
                <button type="submit" class="btn btn-danger rounded-0 px-3 py-2 ">@Localizer["Delete"]</button>
            </form>
        </div>
    </div>
</div>