@model List<Transaction>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>@Localizer["History"]</h2>
<h3>@Localizer["Balance"] @ViewBag.Balance</h3>
<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="fromDate">@Localizer["DateFrom"]</label>
        <input type="datetime-local" name="fromDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="toDate">@Localizer["DateTo"]</label>
        <input type="datetime-local" name="toDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["Filter"]</button>
</form>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>@Localizer["Date"]</th>
            <th>@Localizer["Amount"]</th>
            <th>@Localizer["Desc"]</th>
            <th>@Localizer["CounterParty"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Date.ToString()</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Description</td>
                @if (transaction.CounterParty != null)
                {
                    <td>@transaction.CounterParty</td>
                }
                else if (transaction.FromUser?.UserName != null)
                {
                    <td>@transaction.FromUser?.UserName</td>
                }
                else
                {
                    <td>@Localizer["Anonim"]</td>
                }
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <p>@Localizer["LackOfTransaction"]</p>
}
